@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: "Helvetica";
    src: url(/assets/Helvetica-Font/Helvetica.ttf);
}
html{
    scroll-behavior: smooth;
}
.cursr-pointer {
    cursor: pointer;
}
.secbg1 {
    top: -5%;
}
.centerimg1 {
    top: 24%;
    left: 0;
    right: 0;
    z-index: -2;
}

/* nav bar  */

.bg-nav {
    background: rgba(0, 0, 0, 0.60) !important;
}
.nav-link:hover {
    color: var(--grey4) !important;
    font-weight: 700 !important;
}
.nav-btn svg {
    fill: var(--grey1) !important;
}
.nav-btn:hover svg {
    fill: var(--grey4) !important;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.wh-logo {
    width: 141.688px;
    height: 21px;
}
.dropdown:hover svg {
    transform: rotate(180deg);
    transition: all 300ms linear;
}
.dropdown-item:hover {
    background-color: var(--black2);
    color: var(--black2);
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: unset !important;
    color: #FFF !important;
    transition: all linear 300ms;
}
.dropdown-item:active {
    background-color: unset !important;
}
.dropdown .dropdown-menu {
    display: none;
    background-color: var(--black2) !important;
}
.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
}
.gap-32 {
    gap: 32px;
}
.underLine::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    border-radius: 14px;
    background-color: var(--grey2);
    bottom: 0;
    left: 10%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.underLine:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* section 1  */

.pt-120 {
    padding-top: 50px;
}
.max-589 {
    max-width: 589px;
}
.p-16-33 {
    padding: 16px 33px !important;
}
.btn-border-black {
    border: 1px solid black !important;
}
.btn-border-white {
    border: 1px solid #FFF !important;
}
.spacing-1 {
    letter-spacing: 1px !important;
}

/* section 2  */

.bs-gradient1 {
    background: linear-gradient(262deg, #19FB9B 40%, #8C01FA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bs-gradient2 {
    background: linear-gradient(260deg, #0047FF 43.37%, #00BCD4 109.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bs-gradient3 {
    background: linear-gradient(265deg, #00FFBD 5.84%, #025B8C 111.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.overflow-x-auto::-webkit-scrollbar {
    display: none;
}
.max-250 {
    max-width: 250px;
}
.max-270 {
    max-width: 270px;
}
.lh-27 {
    line-height: 27px;
}
.mt_2 {
    margin-top: 2px !important;
}

/* section 3  */

.sky-dot {
    width: 4.286px;
    height: 4.471px;
    background-color: var(--sky);
}
.p-32 {
    padding: 32px !important;
}
.verticle-line {
    width: 2px;
    height: 33px;
    flex-shrink: 0;
}

/* menu icon  */

.menu span {
    display: flex;
    width: 26px;
    height: 3px;
    margin-top: 4px;
    background: linear-gradient(44.76deg, #9945FF 10.43%, #8752F3 30.84%, #5497D5 49.4%, #43B4CA 58.68%, #28E0B9 69.82%, #19FB9B 93.01%);
    transition: .4s;
    border-radius: 2px;
    transform: skewX(40deg);
}
.span4 {
    transform: rotate(45deg) !important;
    transition: .4s
}
.span5 {
    transform: rotate(-45deg) !important;
    position: relative;
    top: -7px;
    transition: .4s
}
.span6 {
    display: none !important;
    transition: .4s
}
.transition-4 {
    transition: .4s
}

/* section 4  */

.p-10-14 {
    padding: 10px 14px !important;
}
.bordr-1 {
    border: 1px solid #111 !important;
    background: #111;
}
.active {
    border: 1px solid #A962FF !important;
}
.max-400 {
    max-height: 400px !important;
}
.min-400 {
    min-height: 400px !important;
}

/* section 5  */

.slider-box {
    width: 300px !important;
    height: 200px !important;
    background-color: #19161C;
}
.slick-slide {
    width: 300px !important;
    margin: 0 10px;
    /* add margin to the slides */
}
.slick-list {
    margin: 0 -10px !important;
}
.slider {
    overflow: hidden !important;
}
.wh-3-2{
    max-width: 300px;
    height: 200px;
}
.wh-6-4{
    width: 600px !important;
    height: 425px !important;
}
.wh-3-4{
    max-width: 300px;
    height: 425px;
}

/* section 6  */

.lh-46 {
    line-height: 46px;
}
.max-736 {
    max-width: 736px;
}

/* footer  */

.mt_5 {
    margin-top: -5px;
}
.buttomimg {
    bottom: 3%;
}
.bg-footer {
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #141414;
    background: #000508;
}
.bg-footer ul li a:hover{
    color: white !important;
}
.bg-footer ul li a{
     transition: .4s;
}
.bg-footer .icon a svg:hover{
    fill: white !important;
    transform: translateY(-10px);
}
.bg-footer .icon a svg{
    fill:#848895;
    transition: .6s
}
.btn1-page1{
    transition: .4s;
}
.btn1-page1:hover{
color: white !important;
background: var( --s-gradient1) !important;
border: 1px solid transparent !important;
    transform: translateY(-3px);
}
.btn2-page1{
    transition: .4s;
}
.btn2-page1:hover{
color: black !important;
background: white !important;
border: 1px solid transparent !important;
transform: translateY(-3px);
}
.nav-text:hover{
    color: white !important;
}

/* page 2  */

.gap-30 {
    gap: 30px;
}
.box {
    width: 98px;
    background: var(--s-button);
    text-align: center;
    border-radius: 10px;
}

/* sec-1 */

.max-390 {
    max-width: 390px;
}
.p-10-21 {
    padding: 10px 21px !important;
}
.mt-39 {
    margin-top: 39px;
}
.max-633 {
    max-width: 636.185px;
}
.sec1-ellepis {
    width: 633.226px !important;
    height: 642px;
    border-radius: 100px;
    background: rgba(240, 135, 255, 0.30);
    filter: blur(250px);
    right: 0;
    z-index: 0 !important;
    top: 0;
}

/* sec-2 */

.card_sec2 {
    background-image: url(../image/card_sec2-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 370px;
}
.card_sec2:hover{
    filter: hue-rotate(17deg) !important;
}
.card-sec2:hover{
    filter: hue-rotate(17deg) !important;
}
.ch-1 {
    border-radius: 16px;
    background: var(--blue2);
    width: 84.825px;
}
.mw-387 {
    max-width: 387px;
}
.card-sec2 {
    min-height: 320px;
    background-repeat: no-repeat;
    padding: 40px 31px;
    background-size: cover;
    border-radius: 18px;
}
.card_sec2-img1 {
    background-image: url(../image/card_sec2-img1.png);
}
.card_sec2-img2 {
    background-image: url(../image/card_sec2-img2.png);
}
.card_sec2-img3 {
    background-image: url(../image/card_sec2-img3.png);
}
.card_sec2-img4 {
    background-image: url(../image/card_sec2-img4.png);
}
.card_sec2-img5 {
    background-image: url(../image/card_sec2-img5.png);
}
.card_sec2-img6 {
    background-image: url(../image/card_sec2-img6.png);
}

/* section-3 */

.min-300 {
    min-height: 300px;
}
.pt-36 {
    padding-top: 36px;
}
.elepis {
    width: 300px;
    height: 59px;
    border-radius: 259px;
    background: #A962FF;
    filter: blur(40px);
    opacity: 0;
    visibility: hidden;
    bottom: -15%;
    left: 12%;
    transition: .4s;
}
.ellipse:hover .elepis {
    opacity: 1;
    visibility: visible;
}

/* section-4 */

.bg-sec4 {
    background: linear-gradient(180deg, #19161C 0%, #000 100%);
    margin-top: 100px;
    min-height: 357px;
}
.pt-76 {
    padding-top: 76px;
}
.btn3 {
    border-radius: 24px;
    border: 1px solid #FFF;
    width: 147.95px;
    height: 46px;
    background: transparent;
    transition: .4s;
}
.btn3:hover{
    background-color: white;
    color: #000 !important;
    transform: translateY(-3px);
}
.line-botm {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.50);
}
.pt-142 {
    padding-top: 142px;
}
.btn-position{
    top: 6px;
    right: 14px;
}
.pt-30 {
    padding-top: 30px;
}
.btn4 {
    width: 198.253px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: #000;
}
.card_sec4 {
    border-radius: 14px;
    background: #19161C;
    box-shadow: 0px 58px 80px 0px rgba(0, 0, 0, 0.16);
    max-width: 600.647px;
    min-height: 357px;
    padding: 34px 29px !important;
}
.p-13-21 {
    padding: 13px 21px !important;
}
.btn6 {
    width: 189px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid white;
    background: transparent;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn6:hover{
    background: white !important;
    color: #000 !important;
    transform: translateY(-3px);
}
.btn1-page2{
    transition: .4s;
}
.btn1-page2:hover{
    background:white !important;
    color: black !important;
    transform: translateY(-3px);
}
.btn2{
    transition: .4s;
    border: 1px solid white;
}
.btn2:hover{
    background: white !important;
    color: #000 !important;
    transform: translateY(-3px);
}
.btn5{
    transition: .4s;
    border: 2px solid transparent;
}
.btn5:hover{
    background: white !important;
    color: black !important;
    transform: translateY(-3px);
}
#back-top {
position: fixed; 
display:none; 
bottom: 50px; 
right:50px; 
}
.backtotopicon{
    width: 50px;
    height: 50px;
    background: white;
}
/* mediaquiry */

@media(min-width:576px) {
    :root {
        /* font size  */
        --fs-xs: 10px;
        --fs-xs2: 11px;
        --fs-xs3: 13px;
        --fs-xs4: 14px;
        --fs-sm: 15px;
        --fs-sm2: 16px;
        --fs-sm3: 17px;
        --fs-sm4: 18px;
        --fs-sm5: 19px;
        --fs-lg: 20px;
        --fs-lg2: 23px;
        --fs-xl: 24px;
        --fs-2xl: 25px;
        --fs-2xl2: 26px;
        --fs-2xl3: 30px;
        --fs-3xl: 32px;
        --fs-3xl1: 33px;
        --fs-3xl2: 34px;
        --fs-3xl3: 35px;
        --fs-3xl4: 36px;
        --fs-4xl: 38px;
        --fs-6xl: 52px;
        --fs-6xl1: 56px;
        --fs-6xl2: 61px;
        --fs-9xl: 84px;
        --fs-10xl: 90px;
        --fs-10xl1: 93px;
        --fs-10xl2: 95px;
    }

    .pt-120 {
        padding-top: 60px;
    }
}
@media(max-width:768px) {
    .mobileView {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
        position: fixed;
        z-index: -1;
        top: 0%;
        width: 50%;
        min-width: 320px;
        height: 100%;
        /* background-color: var(--black2); */
        background: linear-gradient(99deg, #8C01FA -2.99%, #000 102.28%) !important;
        left: -100%;
        transition: all 500ms linear;
        z-index: 3;
    }

    .mobileView.show {
        left: 0;
    }

    .menu {
        z-index: 4;
        cursor: pointer;
    }
    .dropdown .dropdown-menu {
        display: none;
        border: none !important;
        background:linear-gradient(99deg, #8C01FA -49.99%, #000 102.28%)!important;
    }
    .dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 1.125em;
}
}
@media(min-width:768px) {
    .menu {
        display: none;
    }

    .wh-logo {
        width: 181.688px;
        height: 27px;
    }

    .menu span {
        display: flex;
        width: 30px;
        height: 3px;
        margin-top: 5px;
        background-color: var(--grey2);
        transition: .4s;
        border-radius: 12px;
    }

    .span5 {
        top: -8px;
    }

    .pt-120 {
        padding-top: 80px;
    }
    .card_sec4 {
        padding: 54px 49px !important;
    }
}
@media(min-width:992px) {
    :root {
        /* font size  */
        --fs-xs: 11px;
        --fs-xs2: 12px;
        --fs-xs3: 14px;
        --fs-xs4: 15px;
        --fs-sm: 16px;
        --fs-sm2: 17px;
        --fs-sm3: 18px;
        --fs-sm4: 19px;
        --fs-sm5: 20px;
        --fs-lg: 21px;
        --fs-lg2: 25px;
        --fs-xl: 26px;
        --fs-2xl: 28px;
        --fs-2xl2: 32px;
        --fs-2xl3: 35px;
        --fs-3xl: 36px;
        --fs-3xl1: 37px;
        --fs-3xl2: 38px;
        --fs-3xl3: 39px;
        --fs-3xl4: 40px;
        --fs-4xl: 42px;
        --fs-6xl: 60px;
        --fs-6xl1: 68px;
        --fs-6xl2: 70px;
        --fs-9xl: 94px;
        --fs-10xl: 101px;
        --fs-10xl1: 106px;
        --fs-10xl2: 110px;
    }

    .pt-120 {
        padding-top: 120px;
    }
}